Checks: ",\
bugprone-*,\
-bugprone-easily-swappable-parameters,\
-bugprone-narrowing-conversions,\
-bugprone-unchecked-optional-access,\
clang-analyzer-*,\
misc-*,\
-misc-non-private-member-variables-in-classes,\
-misc-unused-parameters,\
-misc-no-recursion,\
modernize-*,\
-modernize-use-trailing-return-type,\
-modernize-avoid-c-arrays,\
performance-*,\
-performance-no-int-to-ptr,\
readability-*,\
-readability-braces-around-statements,\
-readability-convert-member-functions-to-static,\
-readability-else-after-return,\
-readability-function-cognitive-complexity,\
-readability-identifier-length,\
-readability-magic-numbers,\
"
WarningsAsErrors: "*"
HeaderFilterRegex: ".*/libhut/(ext|inc|src|tst)/.*"
FormatStyle: file
CheckOptions:
  # Everything's lowercase
  - { key: readability-identifier-naming.ClassCase, value: "lower_case" }
  - { key: readability-identifier-naming.EnumCase, value: "lower_case" }
  - { key: readability-identifier-naming.NamespaceCase, value: "lower_case" }
  - { key: readability-identifier-naming.UnionCase, value: "lower_case" }
  - { key: readability-identifier-naming.StructCase, value: "lower_case" }
  - { key: readability-identifier-naming.FunctionCase, value: "lower_case" }
  - { key: readability-identifier-naming.VariableCase, value: "lower_case" }
  # Except template parameters
  - { key: readability-identifier-naming.TemplateParameterCase, value: "CamelCase" }
  # And compile time known variables
  - { key: readability-identifier-naming.ConstexprVariableCase, value: "UPPER_CASE" }
  - { key: readability-identifier-naming.EnumConstantCase, value: "UPPER_CASE" }
  - { key: readability-identifier-naming.MacroDefinitionCase, value: "UPPER_CASE" }
  - { key: readability-identifier-naming.StaticConstantCase, value: "UPPER_CASE" }
  # Prefixes and suffixes
  - { key: readability-identifier-naming.GlobalVariablePrefix, value: "g_" }
  - { key: readability-identifier-naming.GlobalConstantPrefix, value: "G_" }
  - { key: readability-identifier-naming.StaticVariablePrefix, value: "s_" }
  - { key: readability-identifier-naming.StaticConstantPrefix, value: "S_" }
  - { key: readability-identifier-naming.TemplateParameterPrefix, value: "T" }
  - { key: readability-identifier-naming.MemberSuffix, value: "_" }
  - { key: readability-identifier-naming.ParameterPrefix, value: "_" }
  - { key: readability-uppercase-literal-suffix.NewSuffixes, value: "u;l;ll;z;ul;lu;ull;llu;uz;zu" }
  # Temp
  - { key: readability-identifier-naming.TypeTemplateParameterIgnoredRegexp, value: expr-type } # https://github.com/llvm/llvm-project/issues/46097#issuecomment-992626543
