Checks: ",\
bugprone-*,\
-bugprone-easily-swappable-parameters,\
-bugprone-narrowing-conversions,\
clang-analyzer-*,\
-clang-analyzer-deadcode.DeadStores,\
misc-*,\
-misc-non-private-member-variables-in-classes,\
-misc-unused-parameters,\
performance-*,\
readability-*,\
-readability-braces-around-statements,\
-readability-else-after-return,\
-readability-function-cognitive-complexity,\
-readability-identifier-length,\
-readability-magic-numbers,\
-readability-uppercase-literal-suffix,\
"
HeaderFilterRegex: ".*/libhut/(ext|inc|src|tst)/.*"
FormatStyle: file
CheckOptions:
  - { key: HeaderFileExtensions, value: "x" }
  - { key: readability-identifier-naming.ClassCase, value: "lower_case"}
  - { key: readability-identifier-naming.EnumCase, value: "lower_case"}
  - { key: readability-identifier-naming.NamespaceCase, value: "lower_case"}
  - { key: readability-identifier-naming.UnionCase, value: "lower_case"}
  - { key: readability-identifier-naming.StructCase, value: "lower_case"}
  - { key: readability-identifier-naming.FunctionCase, value: "lower_case"}
  - { key: readability-identifier-naming.VariableCase, value: "lower_case"}
  - { key: readability-identifier-naming.ConstexprVariableCase, value: "UPPER_CASE"}
  - { key: readability-identifier-naming.EnumConstantCase, value: "UPPER_CASE"}
  - { key: readability-identifier-naming.MacroDefinitionCase, value: "UPPER_CASE"}
  - { key: readability-identifier-naming.StaticConstantCase, value: "UPPER_CASE"}
  - { key: readability-identifier-naming.TemplateParameterCase, value: "CamelCase"}
  - { key: readability-identifier-naming.MemberSuffix, value: "_"}
  - { key: readability-identifier-naming.ParameterPrefix, value: "_"}
  - { key: readability-identifier-naming.GlobalVariablePrefix, value: "g_"}
  - { key: readability-identifier-naming.GlobalConstantPrefix, value: "G_"}
  - { key: readability-identifier-naming.StaticVariablePrefix, value: "s_"}
  - { key: readability-identifier-naming.StaticConstantPrefix, value: "S_"}
  - { key: readability-identifier-naming.TemplateParameterPrefix, value: "T"}
