[submodule "dep/imgui"]
	path = dep/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "dep/SPIRV-Reflect"]
	path = dep/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
[submodule "dep/libspng"]
	path = dep/libspng
	url = https://github.com/randy408/libspng/
