[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dep/glslang"]
	path = dep/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "dep/SPIRV-Reflect"]
	path = dep/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
